/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #006AB1;
  --ifm-color-content: #232221;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-navbar-background-color: #fff;
  --ifm-navbar-shadow: none;

  --ifm-footer-background-color: none;
  --ifm-footer-color: #888583;
  --ifm-footer-padding-vertical: 1rem;

  --ifm-font-family-base: "Readex Pro", system-ui, -apple-system, sans-serif;
  --ifm-font-size-base: 16px;
  --ifm-font-weight-base: 300;

  --ifm-spacing-horizontal: 20px;

  --ifm-navbar-padding-vertical: 20px;
  --ifm-footer-padding-horizontal: 0;
  --ifm-container-width: 1400px;
}

html {
  font-weight: var(--ifm-font-weight-base);
}

.navbar {
  height: auto;
  padding-left: 0;
  padding-right: 0;
}

.navbar__brand {
  align-items: flex-start;
}

.navbar__inner,
.main-wrapper {
  margin: 0 auto;
  max-width: var(--ifm-container-width);
  padding: 0 var(--ifm-spacing-horizontal);
  width: 100%;
}

.navbar__title {
  height: 20px;
  width: 30px;
  border-radius: 8px 8px 8px 0;
  background-color: #009EDB;
  text-align: center;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 0 0 6px;

  @media screen and (min-width: 997px) {
    height: 25px;
    width: 40px;
    font-size: 10px;
    line-height: 25px;
  }
}

.navbar__link {
  font-weight: 300;
  font-size: 14px;
}

.menu-item-name {
  margin-left: 10px;
}

.navbar__items {
  .menu-item-name {
    display: none;
  }
}

.navbar,
.navbar-sidebar, {
  .icon {
    width: 24px;
    height: 24px;
  }
}

.static-page-container {
  margin: 0 auto;
  max-width: var(--ifm-container-width);
  padding: 0 var(--ifm-spacing-horizontal);
  width: 100%;
}


/* Sidebar */

aside[class^="theme-doc-sidebar-container"] {
  margin-right: 16px;

  .thin-scrollbar {
    //@extend %scrollbar-style;
  }

  .menu__list .menu__list {
    margin-top: 0;
  }

  .menu__list .menu__link--sublist,
  a[class*="menu__link--sublist-caret"] {
    font-size: 16px !important;
    font-weight: 700 !important;
    color: var(--ifm-color-content-secondary) !important;

    &:after {
      display: none;
    }

    &[aria-expanded]:after {
      display: block;
      background-size: 1.66rem 1.66rem;
      margin-right: -6px;
      margin-top: -1px;
    }
  }

  .menu__list .menu__list .menu__link--sublist,
  a[class*="menu__link--sublist-caret"] {
    font-weight: 700 !important;
    font-size: 15px !important;
  }

  .menu__list-item .menu__list-item .menu__list-item {
    padding-left: 8px !important;
  }

  .menu__link {
    justify-content: space-between;
  }

  .theme-doc-sidebar-item-category {
    margin-bottom: 6px;

    .menu__list .menu__list-item-collapsible {
      margin-top: 6px;
    }
  }

  .menu__list-item-collapsible {
    .menu__caret {
      padding: 0 6px;

      &:before {
        display: block;
        background-size: 1.66rem 1.66rem;
        margin-top: -1px;
      }
    }

    &:hover {
      background: none !important;

      .menu__link--sublist-caret:hover {
        background: var(--ifm-menu-color-background-hover) !important;
      }
    }
  }

  @media only screen and (max-width: 1120px) {
    --doc-sidebar-width: 240px;
  }
}

@media only screen and (min-width: 997px) {
  aside[class^="theme-doc-sidebar-container"] {
    .menu {
      padding: 12px 12px 12px 0;
    }
  }
}

@media only screen and (max-width: 996px) {
  aside[class^="theme-doc-sidebar-container"] {
    width: 0 !important;
    min-width: 0 !important;
    margin-right: 0;
  }
}

.menu__list {
  margin-bottom: 8px;
  transition: none !important;
  height: auto !important;

  &.blog-menu__list {
    font-size: 14px;
    font-weight: 300;

    a {
      line-height: 20px;
    }

    .menu__link--active {
      font-weight: 600;
    }
  }

  .menu__list-item {
    margin-bottom: 2px;
    margin-top: 2px;
    user-select: none;
  }

  .menu__link--sublist {
    font-size: 15px;
    padding: 4px 12px !important;
    color: var(--light);

    &:after {
      background-size: 1.66rem 1.66rem;
      margin-right: -6px;
    }
  }

  .menu__link--sublist-caret {
    font-size: 17px;
  }

  .menu__list {
    .menu__link {
      line-height: 20px;
      font-size: 13px;
      padding: 4px 12px !important;
      font-weight: 300;
      color: var(--ifm-font-color-base);
    }

    .menu__link--sublist {
      font-size: 14px !important;
    }

    .menu__list .menu__link--active {
      padding-left: 12px !important;
    }
  }

  .menu__link.menu__link--active {
    border-left-color: var(--ifm-menu-color-active) !important;
    border-left-width: 0;
  }

  a[href].menu__link.menu__link--active:not(.menu__link--sublist) {
    background: var(--ifm-code-background);
    padding-left: 8px !important;
    border-left-width: 4px;
    border-left-style: solid;
  }

  a[href="#"].menu__link.menu__link--active {
    border-left-width: 0;
  }

  .menu__list-item-collapsible {
    .menu__link--active {
      border-left-color: transparent !important;
    }

    .menu__link {
      font-weight: 600;
      font-size: 15px;
      color: var(--subtle);
      padding-left: 8px !important;

      .menu__link {
        padding-left: 12px !important;
      }
    }
  }

  .menu__list-item--collapsed .menu__list {
    margin-bottom: 0;
  }
}

.menu__list-item.menu__list-item--collapsed {
  .menu__list {
    height: 0 !important;
  }
}

.menu--responsive .menu__button {
  right: 1.3rem;
  bottom: 1.3rem;
}
