name: Docs to PDF

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - "website/static/un-transparency-protocol.pdf"

jobs:
  docs-to-pdf:
    name: Generates PDF file from docs
    runs-on: ubuntu-latest
    permissions:
      contents: "write"
      actions: "read"
    steps:
      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0
          token: ${{ steps.app-token.outputs.token }}

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn

      - name: Install dependencies
        run: npm install -g docs-to-pdf

      - name: Generate PDF
        run: |
          echo "waiting for two minutes for GitHub pages to be deployed..."
          sleep 120 && echo "Done!"
          npx docs-to-pdf --initialDocURLs="https://uncefact.github.io/spec-untp/docs/about/" \
          --contentSelector="article" \
          --paginationSelector="a.pagination-nav__link.pagination-nav__link--next" \
          --excludeSelectors=".breadcrumbs,.theme-edit-this-page" \
          --excludeURLs="https://uncefact.github.io/spec-untp/docs/about/Meetings,https://uncefact.github.io/spec-untp/docs/about/FAQ"
          --outputPDFFilename="website/static/un-transparency-protocol.pdf" \
          --coverTitle="UN Transparency Protocol" \
          --coverImage="https://uncefact.github.io/spec-untp/img/home-hero.jpg"

      - name: commit pdf
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add website/static/un-transparency-protocol.pdf
          git commit -m "chore: update PDF file"
          git push
